body > * {
    border: 2px solid white;
}

.test [class*="col"] .my_card {
    padding: 100px 0;

    background-color: purple;
    border: dashed 3px black;
}

.my_color_green {
    background-color: #1abc9c;
}

.my_color_blue {
    background-color: #2c3e50;
}

